.eventos {
    display: flex;
    border: 1px solid #ffffff85;
    border-radius: 10px;
    background-color: #2b2e35;
}

.titulo {
    width: 50%;
}

.titulo-texto {
    color: #e23434
}

.info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.fecha {
    border-bottom: 1px solid #ffffff85;
    height: 20%;
}

.cuerpo {
    height: 80%;
    margin-top: 100px;
    padding: 20px;
}



